<%
# Niko-niko Calendar plugin for Redmine 2.X
# Copyright (C) 2013 piccagliani
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>
<% content_for :header_tags do %>
<%= stylesheet_link_tag "projects/index", :plugin => 'redmine_nikoniko_calendar2' %>
<%= javascript_include_tag "vendor/jquery.fixedtable.js", "common", "projects/index", :plugin => 'redmine_nikoniko_calendar2' %>
<% end %>

<h2><%= l(:nikoniko_calendar) %></h2>

<div id="NikonikoCalendar">

</div>
<% content_for :sidebar do %>
<h3><%= l(:label_role) %></h3>
<% for role in @roles %>
<label><input type="checkbox" name="role" value="<%= role.id %>" /><%= h role.name %></label>
<% end %>
<p><input id="ApplyButton" class="button-small" type="button" value="<%= l(:button_apply) %>"></p>
<% end %>

<% html_title(l(:nikoniko_calendar)) -%>